<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>My Protolfio</title>
  <meta name="description" content="LOOK AT MY ACCOMPLISHMENTS">
  <link rel="stylesheet" href="~/css/main.css"/>
</head>
<body>
  <div class="nav">
    <div class="avatar_cont">
      <a href="/"><img src="~/images/avatar.png" class="avatar"/></a>
    </div>
    <ul class="nav_list">
      <li class="nav_button highlighted"><a href="about_me" class="nav_link"><span>About Me</span></a></li>
      <li class="nav_button"><a href="projects" class="nav_link"><span>My Projects<span></a></li>
      <li class="nav_button"><a href="resume" class="nav_link"><span>Resume</span></a></li>
      <li class="nav_button"><a href="contact_me" class="nav_link"><span>Contact</span></a></li>
    </ul>
    <div class="social_media">
      <a href="https://github.com/shmashing"><img src="~/images/github_logo.png" class="media_img"/></a>
      <a href="https://www.linkedin.com/in/kyle-mcfarland-a8a037149/"><img src="~/images/linkedin.png" class="media_img"/></a>
      <a href="https://www.hackerrank.com/kyle_mcfar1291?hr_r=1"><img src="~/images/hackerrank_logo.png" class="media_img"/></a>
    </div>
  </div>

  <div class="body">
    <div class="bio_content">
      <ul>
        <h1 class="bio_header"> Brief history of Kyle: </h1>
        <h2 class="bio"> I am originally from Tucson, Az. I began coding with C in my first CS course
                          at the University of Arizona. Shortly after, I began to learn Python and built
                          my first game with the help of a couple tutorial blogs. I love video games, so naturally,
                          I enrolled in my next CS course: Game-Oriented Java. After working in the service 
                          industry for a little under 10 years, and figuring out college wasn't exactly for me
                          I moved up to Seattle, WA. I decided a career change was in order and enrolled at
                          the Coding Dojo. 
        </h2>
        <h2 class="bio">I recently graduated (Sept '17), and I am now looking for new opportunities
                          in the world of Software!
        </h2>

        <h1 class="bio_header"> When I am not coding, I am: </h1>
        <h2 class="bio"> Playing - <span id="play_descriptors" class="blue"></span></h2>
        <h2 class="bio"> In Nature - <span id="nat_descriptors" class="blue"></span></h2>  
        <h2 class="bio_header"> Extreme dislikes: </h2>
        <h2 class="bio"> Wet socks, flat soda, hot weather, coffee too hot, and </h2>
      </ul>     
    </div>
  </div>
  <script>
  	var playing_desc = ["Piano", "Destiny", "No Man's Sky", "League of Legends", "or With my doggos"],
			el = document.getElementById('play_descriptors'),
			word_counter = 0,
			character_counter = 0;
		function updatePlayText()
		{
			var character = playing_desc[word_counter][character_counter++];
			if(character === ' '){
				character = "&nbsp;"
			}
			el.innerHTML = el.innerHTML+character;
			
			if(character_counter == playing_desc[word_counter].length)
			{
        setTimeout(function(){}, 600);
				word_counter++; 	//choose a different word
				character_counter = 0;	//start over with the first character of the word

				//if we're displaying the last word, go back to the first word
				if(word_counter == playing_desc.length){
          loop2 = setInterval(updateNatureText, 180);
        } else {
          el.innerHTML = el.innerHTML + ', '; 
        }
			}
		}
    var nature_desc = ["Hiking", "Swimming", "Riding bikes", "Rock Climbing", "or Catching Pokemon"],
      el2 = document.getElementById('nat_descriptors'),
      word_counter2 = 0,
      character_counter2 = 0;
    function updateNatureText()
		{
			var character = nature_desc[word_counter2][character_counter2++];
			if(character === ' '){
				character = "&nbsp;"
			}
			el2.innerHTML = el2.innerHTML+character;
			
			if(character_counter2 == nature_desc[word_counter2].length)
			{
        setTimeout(function(){}, 600);
				word_counter2++; 	//choose a different word
				character_counter2 = 0;	//start over with the first character of the word

				//if we're displaying the last word, go back to the first word
				if(word_counter2 == nature_desc.length){
          clearInterval(loop2);
        } else {
          el2.innerHTML = el2.innerHTML + ', '; 
        }
			}
		}
		var loop = setInterval(updatePlayText,180);
  </script>
</body>
</html>
