<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>My Protolfio</title>
  <meta name="description" content="LOOK AT MY ACCOMPLISHMENTS">
    <link rel="stylesheet" href="~/css/main.css"/>
</head>
<body>
  <div class='header'>
    <div class="img_container">
      <img src="~/images/avatar.png" class='profile_img'>
    </div>
    <p class='user_name'></p>

    <ul class='nav_bar'>
      <li class='nav'><a href="/" class='nav_link'>Home</a></li>
      <li class='nav'><a href="/projects" class='nav_link '>My Projects</a></li>
      <li class='nav selected'><a href="" class='nav_link '>Get in Touch</a></li>
    </ul>
  </div>

<div class='body '>
  <form action='form_submission' method="post" class="contact_table">
    <table >
      <tr>
        <td><input type="text" placeholder="Your Name" value='' name='name' class="input"></td>
      </tr>
      <tr>
        <td><input type='email' placeholder="Your Email" value="" name="email" class="input"></td>
      </tr>
    </table>
    <textarea cols=60 rows=8 placeholder="Reveal to me your secrets.." name='message' class="message"></textarea>

    <input type='submit' value="Fly, you fools">
  </form>
  <p class='disclaimer'>I can in no way guarantee I'll respond or even get this message.. I mean that button doesn't even really do anything..</p>
  
</div>
  <div class="footer">
    <a href="https://www.linkedin.com/in/kyle-mcfarland-a8a037149/"><img src="~/images/linkedin.png" class="social_media"/></a>
    <a href="https://github.com/shmashing"><img src="~/images/github_logo.png" class="social_media"/></a>
    <a href="https://www.hackerrank.com/kyle_mcfar1291"><img src="~/images/hackerrank_logo.png" class="social_media"/></a>
  </div>
</body>
</html>