<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>My Protolfio</title>
  <meta name="description" content="LOOK AT MY ACCOMPLISHMENTS">
  <link rel="stylesheet" href="~/css/main.css"/>
</head>
<body>
  <div class='header'>
    <div class="img_container">
      <img src="~/images/avatar.png" class='profile_img'>
    </div>
    <p class='user_name'></p>

    <ul class='nav_bar'>
      <li class='nav selected'><a href="/" class='nav_link'>Home</a></li>
      <li class='nav'><a href="/projects" class='nav_link '>My Projects</a></li>
      <li class='nav'><a href="/contact_me" class='nav_link '>Get in Touch</a></li>
    </ul>
  </div>
  <div class="body">
    <h2 class='body_title'>Who is Kyle McFarland?</h2>
    <p class="body_info">First and foremost, Kyle is an <b>avid</b> learner. This passion manifests itself in a couple ways:</p>
    <p class="body_info">
      <ul class='body_list'>
        <table class='body_table'>
          <tr>
            <td><li></li></td>
            <td>Video Games</td>
            <td>--</td>
            <td>Learning mechanics of raids, pvp strategy</td>
          </tr>
          <tr>
            <td><li></li></td>              
            <td>Music</td>
            <td>--</td>
            <td>Study of classical and blues/jazz piano</td>
          </tr>
          <tr>
            <td><li></li></td>
            <td>Programming</td>
            <td>--</td>
            <td>The all-around problem-solving nature of it</td>
          </tr>
        </table>
      </ul>
    </p>
    <p class="body_info">He is currently learning to become a full stack developer in C# at the Coding Dojo bootcamp in Bellevue, WA.</p>
    <p class="body_info">Beyond that, Kyle is a proud dad of two-- dogs.</p>
  </div>
  <div class="footer">
    <a href="https://www.linkedin.com/in/kyle-mcfarland-a8a037149/"><img src="~/images/linkedin.png" class="social_media"/></a>
    <a href="https://github.com/shmashing"><img src="~/images/github_logo.png" class="social_media"/></a>
    <a href="https://www.hackerrank.com/kyle_mcfar1291"><img src="~/images/hackerrank_logo.png" class="social_media"/></a>
  </div>

</body>
</html>
