<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>My Protolfio</title>
  <meta name="description" content="LOOK AT MY ACCOMPLISHMENTS">
    <link rel="stylesheet" href="~/css/main.css"/>
</head>
<body>
  <div class="nav">
    <div class="avatar_cont">
      <a href="/"><img src="~/images/avatar.png" class="avatar"/></a>
    </div>
    <ul class="nav_list">
      <li class="nav_button"><a href="about_me" class="nav_link"><span>About Me</span></a></li>
      <li class="nav_button highlighted"><a href="projects" class="nav_link"><span>My Projects<span></a></li>
      <li class="nav_button"><a href="resume" class="nav_link"><span>Resume</span></a></li>
      <li class="nav_button"><a href="contact_me" class="nav_link"><span>Contact</span></a></li>
    </ul>
    <div class="social_media">
      <a href="https://github.com/shmashing"><img src="~/images/github_logo.png" class="media_img"/></a>
      <a href="https://www.linkedin.com/in/kyle-mcfarland-a8a037149/"><img src="~/images/linkedin.png" class="media_img"/></a>
      <a href="https://www.hackerrank.com/kyle_mcfar1291?hr_r=1"><img src="~/images/hackerrank_logo.png" class="media_img"/></a>
    </div>
  </div>

  <div class="body">
    <div class="projects">
      <ul class="proj_list">
        <li class="wht_courier project">
          <img src="~/images/pacman.gif" class="proj_img"/>
          <h2 class="proj_title">PacMan</h2>
          <p class="proj_desc">HTML5/CSS3/Javascript</p>
          <a href="https://github.com/shmashing/pacman" class="proj_desc proj_github">GitHub</a>
        </li>
        <li class="wht_courier project list_item_border">
          <img src="~/images/snake.gif" class="proj_img"/>
          <h2 class="proj_title">Snake</h2>
          <p class="proj_desc">Java</p>
          <a href="https://github.com/shmashing/Snake" class="proj_desc proj_github">GitHub</a>          
        </li>
        <li class="wht_courier project list_item_border">
          <img src="~/images/rl.jpg" class="proj_img"/>
          <h2 class="proj_title">RogueLike</h2>
          <p class="proj_desc">Python3/LibtCod</p>
          <a href="https://github.com/shmashing/RogueLike" class="proj_desc proj_github">GitHub</a>             
        </li>
        <li class="wht_courier project list_item_border">
          <img src="~/images/minesweeper.png" class="proj_img"/>
          <h2 class="proj_title">MineSweeper</h2>
          <p class="proj_desc">Python3/TKinter</p>
          <a href="https://github.com/shmashing/Sweepin-Mines" class="proj_desc proj_github">GitHub</a>             
        </li>
        <li class="wht_courier project list_item_border">
          <img src="~/images/aspdotnet.png" class="proj_img"/>
          <h2 class="proj_title">Auctioneer</h2>
          <p class="proj_desc">C#/ASP.NET/Dapper</p>
          <a href="https://github.com/shmashing/auctioneer" class="proj_desc proj_github">GitHub</a>             
        </li>
        <li class="wht_courier project list_item_border">
          <img src="~/images/python.png" class="proj_img"/>
          <h2 class="proj_title">TravelBuddy</h2>
          <p class="proj_desc">Python/Django</p>
          <a href="https://github.com/shmashing/TravelBud" class="proj_desc proj_github">GitHub</a>             
        </li>
        <li class="wht_courier project list_item_border">
          <img src="~/images/aspdotnet.png" class="proj_img"/>
          <h2 class="proj_title">WeddingPlanner</h2>
          <p class="proj_desc">C#/ASP.NET/Dapper</p>
          <a href="https://github.com/shmashing/WeddingPlanner" class="proj_desc proj_github">GitHub</a>             
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
  