<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>My Protolfio</title>
  <meta name="description" content="LOOK AT MY ACCOMPLISHMENTS">
    <link rel="stylesheet" href="~/css/main.css"/>
</head>
<body>
  <div class='header'>
    <div class="img_container">
      <img src="~/images/avatar.png" class='profile_img'>
    </div>
    <p class='user_name'></p>

    <ul class='nav_bar'>
      <li class='nav'><a href="/" class='nav_link'>Home</a></li>
      <li class='nav selected'><a href="" class='nav_link '>My Projects</a></li>
      <li class='nav'><a href="/contact_me" class='nav_link '>Get in Touch</a></li>
    </ul>
  </div>
  <div class="body">
    <h2 class='body_title'>All your code are belong to me now</h2>
    <div class='project'>
      <img src="~/images/pacman.gif" class='proj_img'/>
      <p class='proj title'><b>PacMan</b></p>
      <p class='proj desc'>In-browser version of the age-old classic. Built using entireyl JS/CSS/HTML.</p>
      <a href='' class='desc'>GitHub</a>
    </div>
    <div class='project'>
      <img src="~/images/rl.jpg" class='proj_img'/>
      <p class='proj title'><b>RougeLike</b></p>
      <p class='proj desc'>Old-School dungeon crawler built with python and powered by the libtcod library.</p>
      <a href='' class='desc'>GitHub</a>
    </div>
    <div class='project'>
      <img src="~/images/eDojo.png" class='proj_img'/>
      <p class='proj title'><b>eCommerce Site</b></p>
      <p class='proj desc'>Site that allows users to buy and sell wares with an instagram-like feel.</p>
      <a href='' class='proj_link'>GitHub</a>
    </div>
  </div>
  <div class="footer">
    <a href="https://www.linkedin.com/in/kyle-mcfarland-a8a037149/"><img src="~/images/linkedin.png" class="social_media"/></a>
    <a href="https://github.com/shmashing"><img src="~/images/github_logo.png" class="social_media"/></a>
    <a href="https://www.hackerrank.com/kyle_mcfar1291"><img src="~/images/hackerrank_logo.png" class="social_media"/></a>
  </div>