<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>My Protolfio</title>
  <meta name="description" content="LOOK AT MY ACCOMPLISHMENTS">
  <link rel="stylesheet" href="~/css/main.css"/>
  <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script>
    $(document).ready(function(){
      $('.nav_button').click(function(){
        $(this).children('a').click();
      });
    });
  </script>

</head>
<body>
  <div class="nav">
    <div class="avatar_cont">
      <img src="~/images/avatar.png" class="avatar"/>
    </div>
    <ul class="nav_list">
      <li class="nav_button"><a href="about_me" class="nav_link"><span>About Me</span></a></li>
      <li class="nav_button"><a href="projects" class="nav_link"><span>My Projects<span></a></li>
      <li class="nav_button highlighted"><a href="resume" class="nav_link"><span>Resume</span></a></li>
      <li class="nav_button"><a href="contact_me" class="nav_link"><span>Contact</span></a></li>
    </ul>
    <div class="social_media">
      <a href="https://github.com/shmashing"><img src="~/images/github_logo.png" class="media_img"/></a>
      <a href="https://www.linkedin.com/in/kyle-mcfarland-a8a037149/"><img src="~/images/linkedin.png" class="media_img"/></a>
      <a href="https://www.hackerrank.com/kyle_mcfar1291?hr_r=1"><img src="~/images/hackerrank_logo.png" class="media_img"/></a>
    </div>
  </div>

    <div class="body resume">
        <p><iframe src="~/images/resume.pdf" frameborder="0"></iframe></p>
    </div>
    
</body>
</html>
