<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>My Protolfio</title>
  <meta name="description" content="LOOK AT MY ACCOMPLISHMENTS">
    <link rel="stylesheet" href="~/css/main.css"/>
</head>
<body>
  <div class='header'>
    <div class="img_container">
      <img src="~/images/avatar.png" class='profile_img'>
    </div>
    <p class='user_name'></p>

    <ul class='nav_bar'>
      <li class='nav'><a href="/" class='nav_link'>Home</a></li>
      <li class='nav'><a href="/projects" class='nav_link '>My Projects</a></li>
      <li class='nav'><a href="" class='nav_link '>Get in Touch</a></li>
    </ul>
  </div>

  <p>Thanks for reaching out!</p>
  <p>I'll do my best to get back to you as soon as possible!</p>
  
</div>
</body>
</html>