<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>My Protolfio</title>
  <meta name="description" content="LOOK AT MY ACCOMPLISHMENTS">
  <link rel="stylesheet" href="~/css/main.css"/>
</head>
<body>
  <div class="nav">
    <div class="avatar_cont">
      <img src="~/images/avatar.png" class="avatar"/>
    </div>
    <ul class="nav_list">
      <li class="nav_button highlighted"><div class="highlight"></div><a href="about_me">About Me</a></li>
      <li class="nav_button"><div class="highlight"></div><a href="projects">My Projects</a></li>
      <li class="nav_button"><div class="highlight"></div><a href="resume">Resume</a></li>
      <li class="nav_button"><div class="highlight"></div><a href="contact_me">Contact</a></li>
    </ul>
    <div class="social_media">
      <a href="https://github.com/shmashing"><img src="~/images/github_logo.png" class="media_img"/></a>
      <a href="https://www.linkedin.com/in/kyle-mcfarland-a8a037149/"><img src="~/images/linkedin.png" class="media_img"/></a>
      <a href="https://www.hackerrank.com/kyle_mcfar1291?hr_r=1"><img src="~/images/hackerrank_logo.png" class="media_img"/></a>
    </div>
  </div>

  <div class="body">
    <div class="bio_content">
        <h2 class="bio">>History Kyle$ kyle history printAll</h2>        
        <h2 class="bio">> Originally from Tucson, Az.</h2>
        <h2 class="bio">> Began coding C in my first CS course, 2013.</h2>
        <h2 class="bio">> Started to learn Python shortly after.</h2>
        <h2 class="bio">> Built my very first game in Python</h2>
        <h2 class="bio">> Took my next CS course: Game-Oriented Java</h2>
        <h2 class="bio">> Moved up to Seattle,Wa 2017 in pursuit of work</h2>
        <h2 class="bio">> Joined up with The Coding Dojo, Bellevue to learn full-stack Python, full-stack C#/ASP.NET and the MEAN stack</h2>
        <h2 class="bio">>History Kyle$ kyle likes showAll</h2>        
        <h2 class="bio">> Playing: Piano, Destiny, No Man's Sky, League of Legends</h2>
        <h2 class="bio">> Nature: hiking, swimming, riding bikes, rock climbing, catching Pokemon.</h2>       
    </div>
  </div>

</body>
</html>
