*{
    margin: 0em;
    padding: 0em;
    font-family: 'Asap Condensed', sans-serif;
}
body {
    background-color: white;
    
}
.avatar_cont {
    border: 1px solid #ee9e12;
    border-radius: 50%;
    width: 7em;
    height: 7em;
    margin-left: 4em;
    margin-top: 4em;
}
.avatar {
    height: 100%;
    margin-left: 1.5em;
}
.nav {
    width: 15em;
    vertical-align: top;
    background-color: white;
    height: 40em;
    float: left;
}
.nav_list{
    margin-top: 3em;
}
.nav_button {
    list-style-type: None;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
    height: 3em;
    line-height: 3em;
    margin-left: 0em;
    color: white;
    border-top: 1px solid white;
}
.nav_button:hover {
    background: #ee9e12;
}
.nav_button:hover > a {
    color: white;
}
.nav_button > a {
    text-decoration: None;
    color: #3e74a7;
    width: 100%;
    text-align: center;
    height: 3em;
    font-family: Courier New, Courier, monospace
}
.nav_link {
    width: 100%;
    height: 3em;
}
.welcome_content {
    width: 100%;
    text-align: center;
    position: relative;
    top:16em;
}
.body {
    background-size: 25% 25%; 
    margin: 1em 0em 0em 1em;
    background-color: white;
    width: 72%;
    height: 40em;
    vertical-align: top;
    overflow: auto;
    border-left: 5px solid #ee9e12;
    /*border-right: 5px solid #545452;    */

}
.wht_courier {
    color: #545452;
    font-family: 'Asap Condensed', sans-serif;
    
}
.highlighted {
    background-color: #ee9e12;
}
.highlighted > a {
    color: white;
}
.projects {
    width: 83%;
    margin-left: 5em;
    position: relative;
    top: 4em;
    height: 75%;
    padding: 2em;
    overflow: auto;
}
.project {
    list-style-type: None;
    height: 4em;
    line-height: 4em;
}
.list_item_border {
    border-top: 2px solid #b89d1f;    
}
.proj_img {
    margin: 0.75em;
    width: 2.5em;
    height: 2.5em;
}
.proj_title {
    width: 33%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.proj_desc {
    width: 33%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 1.1em;
    font-weight: bold;
    color: #545452;
}
.proj_github {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    margin-left: 10%;
    text-decoration: None;
    font-weight: normal;
    color: #545452;
}
.proj_github:hover {
    text-decoration: underline;
    color: #07bebf
}
.contact_table {
    position: relative;
    top: 12em;
    left: 12em;
}
.contact_input {
    height: 2em;
    width: 20em;
    text-indent: 1em;
    margin-bottom: 2em;
    border-radius: 0.3em;
    border: 1px solid #ee9e12;
}
.contact_txt {
    width: 40em;
    height: 8em;
    text-indent: 1em;
    border-radius: 0.3em;
    border: 1px solid #ee9e12;
}
.media_img {
    position: relative;
    top: 5em;
    left: 3em;
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

iframe {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: 35em;
}
iframe:focus {
    outline: none;
}
.bio_header {
    text-align: center;
    margin-bottom: 0.8em;
    margin-top: 0.6em;
    text-indent: -1.5em;
    font-size: 1.5em;
    color: #3e74a7;
}
.bio_content {
    width: 80%;
    margin-top: 10%;
    margin-left: 20%;
    color: #545452;
}
.bio {
    margin-bottom: 0.5em;
    font-size: 1.1em;
}
.contact_header {
    width: 100%;
    text-align: center;
    position: relative;
    top: 6em;
    color: #3e74a7
}
.home_link {
    text-decoration: None;
}
.home_link:hover {
    text-decoration: underline;
    color: #07bebf;
}
#descriptors {
    color: #07bebf;
    border-right: 1px solid #545452;
    font-size: 1.3em;
    padding-right: 0.5em;
    margin-left: 0.5em;
    border-right: 1px solid #777;
}
.resume_pdf {
    width: 90%;
    height: 40em;
    margin-left: 10%;
}
.blue {
    color: #07bebf;
}